<table class="table table-hover search-result">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>投稿日時</th>
      <th>ジャンル</th>
      <th>タイトル</th>
      <th>参考記事url</th>
      <th>bookmark</th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= link_to user_path(post.user) do %>
          <%= attachment_image_tag(post.user, :profile_image, fallback: "no_image.jpg", size: "50x50", class: 'rounded-circle') %>
          <% end %>
        </td>
        <td><%= l post.created_at %></td>
        <td><%= post.genre.name %></td>
        <td class="text-truncate" style="max-width: 300px;"><%= link_to post.title, post_path(post.id), class: "post_#{post.id}" %></td>
        <td class="text-truncate" style="max-width: 300px;">
          <%= Rinku.auto_link(post.reference_url, :all, 'target="_blank"').html_safe %>
        </td>
        <td><%= post.bookmarks.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>