<div class="container_field">
  <div class="row ml-5">
    <div class="col-md-2">
      <%= render 'public/users/info', user: current_user %>
    </div>
    <div class= "col-md-9">
      <div class='row my-1'>
        <div class='col-md-5'>
          <h5 class="offset-md-1 bg-light text-center"><%= current_user.name %>様のブックマーク一覧</h5>
        </div>
      </div>
      <div class='row mx-2'>
        <div class='col-md-12'>
          <table class='table table-hover table-inverse'>
            <thead class='table-secondary'>
              <tr>
                <!--scopeのサイズ調整ができていない-->
                <th scope="col-md-2">記事投稿者</th>
                <th scope="col-md-1">投稿日時</th>
                <th scope="col-md-6">タイトル</th>
                <th scope="col-md-1"></th>
                <th scope="col-md-2">ブックマーク数</th>
              </tr>
            </thead>
            <tbody>
              <!--非公開記事について自分のは見れるように、他人のはみれないように-->
              <% @posts.each do |post| %>
                <tr id="post_<%= post.id %>">
                  <td>
                    <%= link_to user_path(post.user) do %>
                      <%= attachment_image_tag post.user, :profile_image, fallback: "no_image.jpg", size:'60x50' %>
                    <% end %>
                  </td>
                  <td><%= l post.created_at %></td>
                  <td><%= link_to post.title, post_path(post.id), class: "post_#{post.id}" %></td>
                  <td>
                    <% if post.release == true %>
                      <p class="text-success font-weight-bold">公開</p>
                    <% elsif post.release == false %>
                      <p class="text-secondary font-weight-bold">非公開</p>
                    <% end %>
                  </td>
                  <td><%= post.bookmarks.count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <ul class="pagination justify-content-center">
            <%#= paginate @posts %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>