<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= @post.errors.count %>件のエラーが発生しました<br/>
    </h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container_field">
  <div class="row ml-5">
    <div class="col-md-2">
      <%= render 'public/users/info', user: current_user %>
    </div>
    <div class="col">
      <div class="row my-4">
        <div class="col-md-2 text-center">
          <h5 class="bg-light" >記事投稿</h5>
        </div>
      </div>
      <%= form_with model: @post, local: true do |f| %>
      <div class="row offset-md-2 mb-2">
        <div class="col-md-2">
          参考記事URL
        </div>
        <div class="col">
          <%= f.text_field :reference_url,placeholder: "URL", size: "40" %>
        </div>
      </div>
      <div class="row offset-md-2 mb-2">
        <div class="col-md-2">
          ジャンル
        </div>
        <div class="col">
          <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択してください--" %>
        </div>
      </div>
      <div class="row offset-md-2 mb-2">
        <div class="col-md-2">
          投稿タイトル
        </div>
        <div class="col">
          <%= f.text_field :title,placeholder: "投稿タイトル", size: "40" %>
        </div>
      </div>
      <div class="row offset-md-2 mb-2">
        <div class="col-md-2">
          投稿内容詳細
        </div>
        <div class="col">
          <%= f.text_area :body,placeholder: "どのような記事で、どのような問題が、どのように解決しましたか", size: "40x8" %>
        </div>
      </div>
      <div class="row offset-md-2 mb-3">
        <div class="col-md-2">
          公開ステータス
        </div>
        <div class="col-md-8">
          <%= f.radio_button :release,true, checked: true %>
          <%= f.label :release, '公開', value: true %>
          <%= f.radio_button :release,false %>
          <%= f.label :release, '非公開', value: false %>
        </div>
      </div>
      <div class="row offset-md-2 mb-2">
        <div class="col-md-2">
          参考記事評価
        </div>
        <div class="col">
          <div id="evaluate_stars"></div>
        </div>
      </div>
      <div class="text-center action">
        <%= f.submit "新規投稿", class: 'btn btn-outline-success btn-lg' %>
      </div>
        <% end %>
    </div>
  </div>
</div>


<script>
  $('#evaluate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'post[rate]',
    half: true,
  });
</script>