<div class="container_field">
  <div class="row ml-5">
    <div class="col-xs-3 col-md-2">
      <%= render 'public/users/info', user: @user %>
    </div>
    <div class="col-xs-8 col-md-9" style="background-color: #EEF9FF;">
      <div class="row my-4 offset-md-1">
        <div class="col-md-3">
          <h4 >記事詳細</h5>
        </div>

<% if @user.is_deleted == false %>

  <% if @post.release == true or (@post.release == false and @post.user == current_user) %>

        <% if @user != current_user %>
        <div id="bookmark_form_<%= @post.id %>" class="col offset-md-2">
          <%= render 'public/bookmarks/bookmark_form', post: @post %>
        </div>
        <% end %>
      </div>

      <div style="background-color: #EEF9FF;">
      <div class="row mb-2">
        <div class="col-md-2 offset-md-2">
          投稿者
        </div>
        <div class="col">
          <%= link_to user_path(@post.user) do %>
            <%= @post.user.name %>@<%= @post.user.our_answers_id %>
          <% end %>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-2 offset-md-2">
          参考記事URL
        </div>
        <div class="col text-truncate" style="max-width: 500px;">
          <%= Rinku.auto_link(@post.reference_url, :all, 'target="_blank"').html_safe %>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-2 offset-md-2">
          ジャンル
        </div>
        <div class="col">
          <%= @post.genre.name %>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-2 offset-md-2">
          投稿タイトル
        </div>
        <div class="col">
          <%= @post.title %>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-md-2 offset-md-2">
          投稿内容詳細
        </div>
        <div class="col-md-7">
          <% if @post.score.present? %>
            <% if @post.score >= 0 %>
              <h5 class="text-success"><%= @post.body %></h5>
              <p>
                AIによる投稿内容の感情分析スコア[<%= @post.score %>]<br />
                ※スコアによって投稿内容詳細の表示色が変わります。
              </p>
            <% else %>
              <h5 class="text-danger"><%= @post.body %></h5>
              <p>
                AIによる投稿内容の感情分析スコア[<%= @post.score %>]<br />
                ※スコアによって投稿内容詳細の表示色が変わります。
              </p>
            <% end %>
          <% else %>
            <%= @post.body %>
          <% end %>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-2 offset-md-2">
          投稿者からの評価
        </div>
        <div class="col mb-4">
          <div class="post-rate" data-score="<%= @post.rate %>"></div>
        </div>
      </div>
      </div>

      <% if @user == current_user %>
      <div class="offset-md-4">
        <%= link_to "記事編集", edit_post_path, class: "btn btn-primary" %>
      </div>
      <% end %>
      <div class="row offset-md-1 mt-4 mb-2">
        <div class="col-md-5">
          参考記事または本記事へのコメント・評価
        </div>
      </div>
      <div class="row offset-md-1 mt-2 mb-4">
        <% if user_signed_in? %>
          <div id="comment-index" class="col">
            <!--非同期通信用にid="comment-index"を指定-->
            <%= render 'public/post_comments/comment', {post: @post, post_comment: @post_comment, post_comments: @post_comments} %>
          </div>
        <% else %>
          <div class="col m-3">
            コメント・評価を行うにはログインが必要です。<br />
            ユーザー登録がお済みでない方は画面上部「新規登録」よりお進みください。
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <% else %>
    <p>本記事の内容は非公開です。投稿主様のみご確認いただけます。</p>
  <% end %>

<% else %>
  <p>本記事の投稿主様はご退会されているため記事を確認できません。</p>
<% end %>


<script>
// ブラウザバックで星が増えるエラー回避のために記述
$('.post-rate').empty();
  $('.post-rate').raty({
    readOnly: true,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>