<% if @users.exists? %>
<h2 class="offset-md-1">
  <%= link_to user_path(@user) do %><%= @user.name %>様<% end %> はこちらの方々からフォローされています
</h2>

<table class="table search-result"  id="user_followers">
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ニックネーム＠ID</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <%= render 'public/relationships/user_table', users: @users %>
  </tbody>
</table>
  <p class="text-center"><%= link_to_next_page @users, 'もっと見る', remote: true, id: 'view_more' %></p>

<% else %>
  <h3><%= @user.name %> 様はまだフォローされていません</h3>
<% end %>