<div class="container">

  <div class="row my-4">
    <div class="col-md-4 offset-md-3">
      <h4>ご入力内容をご確認ください</h4>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-3 offset-md-2 text-right">
      <h3>お名前</h3>
    </div>
    <div class="col">
      <h3><%= @contact.name %></h3>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-3 offset-md-2 text-right">
      <h4>メールアドレス</h4>
    </div>
    <div class="col">
      <h4><%= @contact.email %></h4>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-3 offset-md-2 text-right">
      <h3>メッセージ</h3>
    </div>
    <div class="col">
      <h3><%= @contact.message %></h3>
    </div>
  </div>

<%= form_with model: @contact, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :message %>
  <div class="my-4 offset-md-3">こちらの内容でよろしければ <%= f.submit "送信" %> を</div>
<% end %>
<%= form_with model: @contact, url: back_contacts_path,local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :message %>
  <div class="my-4 offset-md-3">修正される場合は <%= f.submit "入力画面に戻る" %> を押してください</div>
<% end %>

</div>