<div class='container'>

  <div class='row my-4'>
    <div class='col-md-3 text-right'>
      <h3>お名前</h3>
    </div>
    <div class='col'>
      <h3><%= @contact.name %></h3>
    </div>
  </div>

  <div class='row mb-4'>
    <div class='col-md-3 text-right'>
      <h4>メールアドレス</h4>
    </div>
    <div class='col'>
      <h4><%= @contact.email %></h4>
    </div>
  </div>

  <div class='row mb-4'>
    <div class='col-md-3 text-right'>
      <h3>メッセージ</h3>
    </div>
    <div class='col'>
      <h3><%= @contact.message %></h3>
    </div>
  </div>

<%= form_with model: @contact, local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :message %>
  <div><%= f.submit '送信' %></div>
<% end %>
<%= form_with model: @contact, url: back_contacts_path,local: true do |f| %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <%= f.hidden_field :message %>
  <div><%= f.submit '入力画面に戻る' %></div>
<% end %>

</div>