<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= @contact.errors.count %>件の入力漏れがございます<br/>
    </h2>
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container">

  <div class="row my-3">
    <div class="col-md-4 offset-md-4">
      <h1>お問い合わせ</h1>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <h3>
        サービスの品質向上のため、皆様からのお問い合わせをお待ちしております。<br />
        ジャンルの追加ご要望やご利用にあたって改善すべき点欲しい機能など<br />
        お気づきの点がございましたら、以下にご記入ください。
      </h3>
    </div>
  </div>




<%= form_with model: @contact, url: confirm_contacts_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "お名前" %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :message, "メッセージ" %>
    <%= f.text_area :message,placeholder: "ジャンルの追加やその他ご意見・ご要望はこちらへ", size: "10x10", class: "form-control" %>
  </div>

  <div class="my-4">
    <%= f.submit "入力内容確認",class: "btn btn-success" %>
  </div>
<% end %>

</div>