 <h4 class="search-word">ジャンル <span class="result">"<%= @genre.name %>"</span> での検索結果</h4>
 <table class="table table-hover search-result">
  <thead>
    <tr>
      <th></th>
      <th>投稿日時</th>
      <th>タイトル</th>
      <th>参考記事url</th>
      <th>ブックマーク</th>
    </tr>
  </thead>
  <tbody>
    <% @genre_records.each do |record| %>
      <tr>
        <td class="text-center">
          <%= link_to user_path(record.user) do %>
            <%= attachment_image_tag(record.user, :profile_image, fallback: "no_image.jpg", size: "50x50", class: 'rounded-circle') %>
          <% end %><br />
          <%= record.user.name %>@<%= record.user.our_answers_id %>
        </td>
        <td><%= l record.created_at %></td>
        <td>
          <%= link_to record.title.truncate(20), post_path(record.id), class: "post_#{record.id}" %>
        </td>
        <td>
          <%= Rinku.auto_link(record.reference_url.truncate(30), :all, 'target="_blank"').html_safe %>
        </td>
        <td id="bookmark_form_<%= record.id %>">
          <% if user_signed_in? %>
            <% if record.user != current_user %>
              <%= render 'public/bookmarks/bookmark_form', post: record %>
            <% end %>
          <% else %>
            <%= record.bookmarks.count %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>