<div class="card-body" style="background: #EEF9FF;">
  <div class="card-item">
    <div class="row">
      <div class="col text-center">
        <p>ユーザー情報</p>

<% if user.is_deleted == false %>

    	  <%= link_to user_path(user) do %>
          <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size:'160x150', class: 'rounded-circle' %>
        <% end %><br /><br />
        <%= user.name %>@<%= user.our_answers_id %><br />
    	  <% if user.introduction.present? %>
    	    <%= user.introduction %>
    	  <% else %>
    	    プロフィール情報は未登録です
    	  <% end %>
      <% if user_signed_in? %>
        <div id="form_<%= user.id %>" >
          <%= render 'public/relationships/form', user: user %>
        </div>
      <% end %>

<% else %>
<p>こちらのユーザー様はご退会されております。</p>
<% end %>

      </div>
    </div>
  </div>
</div>